html {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  /* text-align: center; */
}

.main-container {
  width: 80%;
  max-width: 2000px;
  margin: 50px auto;
}
h1 {
  text-align: center;
}
