html,
body {
  padding: 0;
  margin: 0;
}

#main-container {
  margin: 20px;
}

.title {
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 2em;
}

.state {
  stroke: blue;
  fill: #999;
}

.state-borders {
  fill: none;
}
